@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Source+Sans+Pro|ZCOOL+KuaiLe&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "roboto";
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1482ff;
  border-radius: 2px 0 0 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  overflow-x: hidden;
}

body * {
  -webkit-transition: background 0.3s, color 1s;
  transition: background 0.3s, color 1s;
}

body.dark {
  -webkit-transition: background 0.3s, color 1s;
  transition: background 0.3s, color 1s;
  background: #000005;
}

body.dark ::-webkit-scrollbar {
  color: #000;
  background: #000 !important;
}

body.dark .popup {
  background: #111;
}

body.dark .popup .title {
  color: #fff !important;
}

body.dark .fullResult {
  background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#000));
  background: linear-gradient(#111, #000);
}

body.dark .fullResult .stInfo {
  color: #fff;
}

body.dark .fullResult .stInfo .stcg .cp_total {
  color: #fff;
}

body.dark .fullResult .stInfo .stDesc {
  color: #fff;
}

body.dark .fullResult .stInfo .stDesc .stName {
  color: #fff;
}

body.dark .fullResult .stInfo .stDesc .stRoll {
  color: #ccc;
}

body.dark .fullResult .stSemesters .sem {
  color: #fff;
}

body.dark .fullResult .stSemesters .sem .stsg .sg {
  color: #2196f3;
}

body.dark .fullResult .stSemesters .sem .subs {
  color: #fff;
}

body.dark .fullResult .stSemesters .sem .subs .sub {
  background: #222e;
}

body.dark .fullResult .stSemesters .sem .subs .sub .grade {
  color: #fff;
}

body.dark .header {
  color: #fff;
}

body.dark .footer {
  background: #000;
}

body.dark .branch-con,
body.dark .batch-con,
body.dark .cs,
body.dark .ranking-con,
body.dark .ser {
  background: #151515;
  color: #aaa;
}

body.dark .branch-con *,
body.dark .batch-con *,
body.dark .cs *,
body.dark .ranking-con *,
body.dark .ser * {
  background: #151515;
  color: #aaa;
}

body.dark .you {
  color: #fff;
}

body.dark .you .card {
  background: transparent;
}

body.dark .card {
  background: #151515ee;
}

body.dark .card .Rank {
  color: #8f5be9;
}

body.dark .card .Name {
  color: #fff;
}

body.dark .card .Cgpa {
  color: #fff !important;
}

body.dark .card[data-rank="1"] {
  background: #151515ee;
  border-bottom: 4px solid #ffd700aa;
}

body.dark .card[data-rank="2"] {
  background: #151515ee;
  border-bottom: 4px solid #c0c0c0aa;
}

body.dark .card[data-rank="3"] {
  background: #151515ee;
  border-bottom: 4px solid #795548aa;
}

.dark_toggle {
  opacity: 0.2;
  position: absolute;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  width: 2em;
  height: 2em;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px 0px #0009;
          box-shadow: 0 2px 5px 0px #0009;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: 1em;
  left: 1em;
}

.dark_toggle:hover {
  opacity: 1;
}

.dark_toggle .cover {
  width: 2.5em;
  height: 2.5em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #ffd700;
  position: absolute;
  left: -0.3em;
  top: -0.3em;
  border-radius: 50%;
}

.popup {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  display: none;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation: fade-in 0.7s;
          animation: fade-in 0.7s;
}

.popup .title {
  font-size: 6rem;
}

.popup .desc {
  color: #333;
  padding: 0.5rem 2rem;
  background: #fffa;
  border-radius: 5px;
}

.popup form {
  width: 100%;
  text-align: center;
}

.popup .inp {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  outline: none;
  border: none;
  height: 4rem;
  width: 90%;
  max-width: 700px;
  background: #000e;
}

.tip {
  color: #00b91f;
  display: none;
  background: #eee;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  margin: 0 auto;
  font-variant-caps: all-small-caps;
}

.tip span {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.tip .close {
  font-weight: bold;
  color: red;
  text-align: center;
  background: #ddd9;
  padding: 0.5rem 0.8rem 0.5rem 0.6rem;
  cursor: pointer;
}

.tip .close:hover {
  background: #ddd;
}

.fullResult {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  z-index: 11;
  padding: 1em 2em;
  font-size: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background: linear-gradient(#fff, #eee);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: pop 0.5s;
          animation: pop 0.5s;
}

.fullResult .stInfo {
  max-width: 50em;
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1em;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullResult .stInfo * {
  width: 100%;
  margin: 0 0.5rem;
}

.fullResult .stInfo .stcg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullResult .stInfo .stcg .cp {
  font-size: 2.5em;
  font-weight: bold;
}

.fullResult .stInfo .stcg .cp_total {
  font-size: 1.5em;
  color: #666;
}

.fullResult .stInfo .stDesc {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200%;
  color: #333;
}

.fullResult .stInfo .stDesc .stName {
  font-size: 2em;
  text-align: left;
}

.fullResult .stInfo .stDesc .stRoll {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-size: 1.5em;
  color: #666;
}

.fullResult .stSemesters {
  margin: 2em 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: scroll;
}

.fullResult .stSemesters::-webkit-scrollbar {
  display: none;
}

.fullResult .stSemesters * {
  border-radius: 0.3em;
}

.fullResult .stSemesters .sem {
  width: 23%;
  min-width: 15em;
  padding: 0.5em;
  margin: 0.8em;
}

.fullResult .stSemesters .sem * {
  font-family: monospace;
}

@media (max-width: 980px) {
  .fullResult .stSemesters .sem {
    width: 100%;
  }
}

.fullResult .stSemesters .sem .stsg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em 1em;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullResult .stSemesters .sem .stsg .semN {
  text-align: left;
  width: 60%;
}

.fullResult .stSemesters .sem .stsg .sg_total {
  font-size: 0.5em;
  color: green;
}

.fullResult .stSemesters .sem .stsg .sg {
  color: #2196f3;
  text-align: center;
}

.fullResult .stSemesters .sem .subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333;
}

.fullResult .stSemesters .sem .subs .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fffe;
  margin-bottom: 0.2em;
}

.fullResult .stSemesters .sem .subs .sub .code {
  padding: 0.5em 1em;
  width: 80%;
  font-size: 0.8em;
}

.fullResult .stSemesters .sem .subs .sub .grade {
  color: #fff;
  font-weight: bold;
  margin: 0.5em;
  padding: 0.2em 0.6em;
  width: 15%;
  text-align: center;
}

.fullResult .stSemesters .sem .subs .sub .A {
  background: #45f;
}

.fullResult .stSemesters .sem .subs .sub .AB {
  background: #45f;
}

.fullResult .stSemesters .sem .subs .sub .B {
  background: #45f;
}

.fullResult .stSemesters .sem .subs .sub .BC {
  background: #45f;
}

.fullResult .stSemesters .sem .subs .sub .C {
  background: #45f;
}

.fullResult .stSemesters .sem .subs .sub .CD {
  background: #45f;
}

.fullResult .stSemesters .sem .subs .sub .D {
  background: #45f;
}

.fullResult .stSemesters .sem .subs .sub .F {
  background: #d30012;
}

.header {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 2rem;
  color: #231f20;
  font-size: 1.2rem;
}

.header img {
  width: 3rem;
}

.header > * {
  font-family: "Source Sans Pro", "Open Sans", "ZCOOL KuaiLe";
}

.header .logo {
  -webkit-filter: brightness(1.1) saturate(2);
          filter: brightness(1.1) saturate(2);
}

.header .main-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .main-heading .date {
  font-size: 0.5em;
  min-width: 3.5rem;
  font-weight: bold;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  background: #e70c85;
  -webkit-box-shadow: 0 0 10px 1px #e70c8599;
          box-shadow: 0 0 10px 1px #e70c8599;
  color: white;
}

.ctrl {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1rem 2rem;
}

.ctrl > div {
  margin: 0 0.2rem;
}

.ser {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  -webkit-box-shadow: 0 3px 5px 0px #0003;
          box-shadow: 0 3px 5px 0px #0003;
  border-radius: 5px;
  padding: 0.5rem;
  background: #fff;
  position: relative;
  height: 3rem;
}

.ser img {
  width: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.ser:focus-within img {
  width: 0;
}

.ser:focus-within [type="search"] {
  width: 100%;
}

[type="search"] {
  height: 2rem;
  width: 93%;
  display: block;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  letter-spacing: 1.1px;
}

.branch-con,
.batch-con,
.cs,
.ranking-con {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 12%;
  height: 3rem;
  text-align: center;
  -webkit-box-shadow: 0 3px 5px 0px #0003;
          box-shadow: 0 3px 5px 0px #0003;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  overflow: hidden;
}

.branch-con:hover,
.batch-con:hover,
.cs:hover,
.ranking-con:hover {
  background: rgba(33, 150, 243, 0.3);
}

.batch-con {
  width: 3rem;
}

.cs {
  width: 3rem;
  padding: 1rem 0.7rem;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1.1px;
  cursor: pointer;
}

.cs:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.ranking-con {
  padding: 0.1rem 0.2rem;
}

.csv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #36ff2f;
  padding: 0 0.7rem;
  height: 3rem;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.05;
}

.csv:hover {
  opacity: 1;
}

.csv:active span:nth-child(1) {
  -webkit-transform: translate(0, 0.5rem);
          transform: translate(0, 0.5rem);
}

select {
  width: 100%;
  padding: 1rem 0.7rem;
  color: inherit;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: none;
  font-size: 1rem;
  letter-spacing: 1.1px;
  background: transparent;
}

option {
  color: black;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

#ranking {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  padding: 0.7rem 0.4rem;
}

::-webkit-input-placeholder {
  opacity: 0.3;
}

:-ms-input-placeholder {
  opacity: 0.3;
}

::-ms-input-placeholder {
  opacity: 0.3;
}

::placeholder {
  opacity: 0.3;
}

#res_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 1rem 3rem;
  margin: 1rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
  color: #2196f3;
}

#stats {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  color: #ccc;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-perspective: 400px;
          perspective: 400px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: default;
  height: auto;
}

.container > div {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 16rem;
  height: 10rem;
  background: #eee9;
  margin: 1rem 2rem;
  padding: 1.5rem 2rem;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  -webkit-animation: pop 0.3s forwards;
          animation: pop 0.3s forwards;
  opacity: 0;
  -webkit-transform: translate(0, 15px);
          transform: translate(0, 15px);
}

.container > div:hover {
  -webkit-box-shadow: 0px 3px 12px 2px #0002;
          box-shadow: 0px 3px 12px 2px #0002;
}

.container > div[data-base="9.5"] {
  position: relative;
}

.container > div[data-base="9.5"]::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: -1rem;
  border-radius: 3px;
  width: 1rem;
  height: 3rem;
  background: rgba(233, 32, 99, 0.6);
  -webkit-animation: glow 1s alternate infinite;
          animation: glow 1s alternate infinite;
}

.container > div[data-base="9"] {
  position: relative;
}

.container > div[data-base="9"]::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: -1rem;
  border-radius: 3px;
  width: 1rem;
  height: 3rem;
  background: rgba(156, 39, 176, 0.5);
}

.container > div[data-base="8"] {
  position: relative;
}

.container > div[data-base="8"]::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: -1rem;
  border-radius: 3px;
  width: 1rem;
  height: 3rem;
  background: rgba(103, 58, 183, 0.1);
}

.container > div[data-rank="1"] {
  background: #ffd700;
  border: none;
}

.container > div[data-rank="1"]::after {
  display: none;
}

.container > div[data-rank="1"] > .Cgpa {
  color: black;
}

.container > div[data-rank="1"] > .Rank {
  position: relative;
}

.container > div[data-rank="1"] > .Rank::before {
  content: "1";
  position: absolute;
  right: -0.5rem;
  color: #ababab;
  mix-blend-mode: color-burn;
  top: -2.7rem;
  font-size: 5rem;
  font-weight: bold;
  opacity: 0.9;
}

.container > div[data-rank="2"] {
  background: #c0c0c0;
  border: none;
}

.container > div[data-rank="2"]::after {
  display: none;
}

.container > div[data-rank="2"] > .Cgpa {
  color: black;
}

.container > div[data-rank="2"] > .Rank {
  position: relative;
}

.container > div[data-rank="2"] > .Rank::before {
  content: "2";
  position: absolute;
  right: -0.5rem;
  color: #ababab;
  mix-blend-mode: color-burn;
  top: -2.7rem;
  font-size: 5rem;
  font-weight: bold;
  opacity: 0.9;
}

.container > div[data-rank="3"] {
  background: #ca780088;
  border: none;
}

.container > div[data-rank="3"]::after {
  display: none;
}

.container > div[data-rank="3"] > .Cgpa {
  color: black;
}

.container > div[data-rank="3"] > .Rank {
  position: relative;
}

.container > div[data-rank="3"] > .Rank::before {
  content: "3";
  position: absolute;
  right: -0.5rem;
  color: #ababab;
  mix-blend-mode: color-burn;
  top: -2.7rem;
  font-size: 5rem;
  font-weight: bold;
  opacity: 0.9;
}

.Name {
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Rank {
  font-size: 2rem;
  color: #673ab7;
}

.Rank::first-letter {
  font-size: 1.2rem;
  color: #9c27b0;
}

.Rollno,
.Branch,
.Year {
  color: #777;
  display: inline-block;
  margin-right: 0.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.Cgpa {
  display: inline-block;
  width: 50px;
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.Sgpa,
.Points {
  display: inline-block;
  position: absolute;
}

.Sgpa {
  bottom: 1.2rem;
  right: 4.7rem;
  opacity: 0;
  font-size: 0.8rem;
  color: #795548;
}

.Points {
  bottom: 1.1rem;
  right: 6.7rem;
  opacity: 0;
  color: #795548;
}

.container > div:hover .Sgpa {
  opacity: 1;
}

.container > div:hover .Points {
  opacity: 1;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform-origin: 0% 70%;
            transform-origin: 0% 70%;
    opacity: 1;
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  70% {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform-origin: 0% 70%;
            transform-origin: 0% 70%;
    opacity: 1;
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  70% {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-webkit-keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 2px 1px #e91e6355;
            box-shadow: 0 0 2px 1px #e91e6355;
  }
  100% {
    -webkit-box-shadow: 0px 0px 10px 5px #e91e6355;
            box-shadow: 0px 0px 10px 5px #e91e6355;
  }
}

@keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 2px 1px #e91e6355;
            box-shadow: 0 0 2px 1px #e91e6355;
  }
  100% {
    -webkit-box-shadow: 0px 0px 10px 5px #e91e6355;
            box-shadow: 0px 0px 10px 5px #e91e6355;
  }
}

@-webkit-keyframes glow2 {
  0% {
    -webkit-box-shadow: 0 0 0px 0px rgba(156, 39, 176, 0.3);
            box-shadow: 0 0 0px 0px rgba(156, 39, 176, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 10px 3px #d11ee955;
            box-shadow: 0 0 10px 3px #d11ee955;
  }
}

@keyframes glow2 {
  0% {
    -webkit-box-shadow: 0 0 0px 0px rgba(156, 39, 176, 0.3);
            box-shadow: 0 0 0px 0px rgba(156, 39, 176, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 10px 3px #d11ee955;
            box-shadow: 0 0 10px 3px #d11ee955;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  height: 2rem;
}

.nav > div {
  margin: 0.5rem 2rem;
  cursor: pointer;
  color: #777;
  position: relative;
}

.nav > div:hover {
  color: #e0129c;
}

.nav > div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #fdef2bbd;
}

.nav > div:hover::before {
  height: 1rem;
}

#rem {
  font-size: 0.7rem;
  color: #2196f3;
}

#you_ip {
  margin: 0 auto;
}

.you {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 1rem 3rem;
  margin: 1rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.you > div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.you > div > div {
  margin: 0 1rem;
}

.you > div > .Cgpa,
.you > div .Sgpa,
.you > div .Points {
  position: static;
  opacity: 1;
}

.footer {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eee;
  width: 100%;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  padding: 2rem 0.5rem;
  -webkit-box-shadow: inset 0 5px 5px #1113;
          box-shadow: inset 0 5px 5px #1113;
  margin-top: 2rem;
  color: #333;
}

.footer #me {
  margin: 0.2rem;
}

.footer a {
  color: #444;
  text-decoration: none;
}

.footer a:hover {
  color: #2196f3;
}

#ref {
  font-size: 0.7rem;
  color: #777;
}

.heart {
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: red;
}

.heart:hover {
  color: red;
}

@media (max-width: 980px) {
  :root {
    font-size: 14px;
  }
  .container > div {
    height: 8rem;
    width: 13rem;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
  }
  .container > div[data-base="10"]::after, .container > div[data-base="9.5"]::after {
    -webkit-animation: none;
            animation: none;
  }
  .batch-con,
  .branch-con,
  .cs,
  .ranking-con {
    -webkit-box-shadow: 0 2px 3px 0px #0003;
            box-shadow: 0 2px 3px 0px #0003;
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
    text-align: center;
    background: #eee;
  }
  .branch-con {
    width: 9rem;
  }
  .ser {
    width: 100%;
    z-index: 2;
  }
  .batch-con {
    width: 10%;
  }
  .cs {
    width: 2rem;
    padding: 1rem 0.3rem;
  }
  select {
    padding: 0.1rem 0.4rem;
  }
  .ctrl {
    padding: 0.5rem;
    height: 7rem;
    width: 90vw;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .you > div > div {
    margin: 0 0.5rem;
  }
  .you .Branch,
  .you .Year {
    display: none;
  }
  .you .Name {
    overflow: visible;
    white-space: normal;
  }
  .csv {
    display: none;
  }
}

@media (max-width: 400px) {
  .container > div {
    height: 8rem;
    width: 12rem;
    margin: 0.3rem 0.3rem;
    padding: 0.5rem 0.5rem;
  }
}

@media (max-width: 320px) {
  .container > div {
    height: 7.5rem;
    width: 11rem;
    margin: 0.3rem 0.2rem;
    padding: 0.5rem 0.5rem;
  }
}

@supports not ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .popup {
    background: white;
  }
}
/*# sourceMappingURL=style.css.map */