@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Source+Sans+Pro|ZCOOL+KuaiLe&display=swap");

$card-color: #eee9;
$rank-color: #673ab7;
$hash-color: #9c27b0;
$primary-color: #000;
$light-color: #777;
$info-color: #2196f3;

$c1st: #ffd700;
$c2nd: #c0c0c0;
$c3rd: #ca780088;

$c-hidden: #795548;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "roboto";
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(20, 130, 255);
  border-radius: 2px 0 0 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  overflow-x: hidden;
}

.popup {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none;
  backdrop-filter: blur(10px);
  transition: all 0.3s;
  animation: fade-in 0.7s;
  .title {
    font-size: 6rem;
  }
  .desc {
    color: #333;
    padding: 0.5rem 2rem;
    background: #fffa;
    border-radius: 5px;
    // font-weight: bold;
  }
  form {
    width: 100%;
    text-align: center;
  }
  .inp {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    outline: none;
    border: none;
    height: 4rem;
    width: 90%;
    max-width: 700px;
    background: #000e;
  }
}

.tip {
  color: #00b91f;
  display: none;
  background: #eee;
  border-radius: 5px;
  width: fit-content;
  // min-width: 50rem;
  overflow: hidden;
  margin: 0 auto;
  // font-style: italic;
  font-variant-caps: all-small-caps;
  span {
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  .close {
    font-weight: bold;
    color: red;
    text-align: center;
    background: #ddd9;
    padding: 0.5rem 0.8rem 0.5rem 0.6rem;
    cursor: pointer;
    &:hover {
      background: #ddd;
    }
  }
}

.fullResult {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  z-index: 11;
  padding: 1em 2em;
  font-size: 12px;
  background: #eee;
  // display: flex;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.2s;
  animation: pop 0.5s;

  .stInfo {
    max-width: 50em;
    padding: 1em 2em;
    background: #fff;
    display: flex;
    border-radius: 1em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    * {
      width: 100%;
      margin: 0 0.5rem;
    }
    .stcg {
      display: flex;
      flex-direction: column;
      .cp {
        font-size: 2.5em;
        font-weight: bold;
      }
      .cp_total {
        font-size: 1.5em;
        color: #666;
      }
    }
    .stDesc {
      text-align: left;
      display: flex;
      flex-direction: column;
      width: 200%;
      color: #333;
      .stName {
        font-size: 2em;
        text-align: left;
      }
      .stRoll {
        align-items: left;
        font-size: 1.5em;
        color: #666;
      }
    }
  }

  .stSemesters {
    &::-webkit-scrollbar {
      display: none;
    }
    * {
      border-radius: 0.3em;
    }
    margin: 2em 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: scroll;

    .sem {
      * {
        font-family: monospace;
      }
      width: 24%;
      min-width: 15em;
      // background: #ddd;
      padding: 0.5em;
      margin: 0.5em;
      // border-radius: 0.5em;

      @media (max-width: 980px) {
        width: 100%;
      }

      .stsg {
        display: flex;
        padding: 0.5em 1em;
        font-size: 1.5em;
        background: #fff;
        margin-bottom: 0.5em;
        justify-content: space-between;
        align-items: center;
        .semN {
          text-align: left;
          width: 60%;
        }
        .sg_total {
          font-size: 0.5em;
          color: green;
        }
        .sg {
          color: $info-color;
          text-align: center;
        }
        // border-radius: 0.5em;
      }
      .subs {
        display: flex;
        flex-direction: column;
        color: #333;
        // background: #fff5;

        .sub {
          display: flex;
          background: #fffe;
          margin-bottom: 0.2em;
          .code {
            padding: 0.5em 1em;
            width: 80%;
            font-size: 0.8em;
          }
          .grade {
            // background: #45f;
            color: #fff;
            font-weight: bold;
            margin: 0.5em;
            padding: 0.2em 0.6em;
            width: 15%;
            text-align: center;
          }
          .A {
            background: #45f;
          }
          .AB {
            background: #45f;
          }
          .B {
            background: #45f;
          }
          .BC {
            background: #45f;
          }
          .C {
            background: #45f;
          }
          .CD {
            background: #45f;
          }
          .D {
            background: #45f;
          }
          .F {
            background: #d30012;
          }
        }
      }
    }
  }
}

.header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  color: #231f20;
  font-size: 1.2rem;
  & img {
    width: 3rem;
  }

  & > * {
    font-family: "Source Sans Pro", "Open Sans", "ZCOOL KuaiLe";
  }
  .main-heading {
    display: flex;
    flex-direction: column;
    .date {
      font-size: 0.5em;
      width: 3.5rem;
      font-weight: bold;
      padding: 0.2rem 0.4rem;
      border-radius: 5px;
      background: #00bcd4;
      color: white;
    }
  }
}

.ctrl {
  height: 4rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem 2rem;

  & > div {
    margin: 0 0.2rem;
  }
}

.ser {
  display: inline-flex;
  justify-content: space-around;
  width: 60%;
  box-shadow: 0 3px 5px 0px #0003;
  border-radius: 5px;
  padding: 0.5rem;
  background: #fff;
  position: relative;
  height: 3rem;
  & img {
    width: 1rem;
  }
  &:focus-within img {
    width: 0;
  }
  &:focus-within [type="search"] {
    width: 100%;
  }
}

[type="search"] {
  height: 2rem;
  width: 93%;
  display: block;
  // margin: 0 4rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  letter-spacing: 1.1px;
}

.branch-con,
.batch-con,
.cs,
.ranking-con {
  display: inline-flex;
  width: 12%;
  height: 3rem;
  text-align: center;
  box-shadow: 0 3px 5px 0px #0003;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  overflow: hidden;
  // color: white;
  &:hover {
    background: fade-out($info-color, 0.7);
  }
}
.batch-con {
  width: 3rem;
}

.cs {
  // background: #f00;
  width: 3rem;
  padding: 1rem 0.7rem;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1.1px;
  cursor: pointer;

  &:active {
    transform: scale(0.9);
  }
}

.ranking-con {
  padding: 0.1rem 0.2rem;
}

.csv {
  display: flex;
  color: rgb(54, 255, 47);
  padding: 0 0.7rem;
  height: 3rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  opacity: 0.05;
}
.csv:hover {
  opacity: 1;
}
.csv:active {
  span:nth-child(1) {
    transform: translate(0, 0.5rem);
  }
}

select {
  // display: inline-block;
  width: 100%;
  // margin: 0 1rem;
  padding: 1rem 0.7rem;
  color: inherit;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: none;
  font-size: 1rem;
  letter-spacing: 1.1px;
  background: transparent;
}
option {
  color: black;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

#ranking {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  padding: 0.7rem 0.4rem;
}

::placeholder {
  opacity: 0.3;
}

#res_cnt {
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 1rem 3rem;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  color: #2196f3;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  perspective: 400px;
  transform-style: preserve-3d;
  cursor: default;
  height: auto;

  > div {
    transition: all 0.2s;
    width: 16rem;
    height: 10rem;
    background: $card-color;
    margin: 1rem 2rem;
    padding: 1.5rem 2rem;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    animation: pop 0.3s forwards;
    opacity: 0;
    transform: translate(0, 15px);

    &:hover {
      box-shadow: 0px 3px 12px 2px #0002;
    }

    &[data-base="9.5"] {
      position: relative;
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        right: 1rem;
        top: -1rem;
        border-radius: 3px;
        // transform: rotate(45deg);
        width: 1rem;
        height: 3rem;
        background: hsla(340, 82%, 52%, 0.6);
        animation: glow 1s alternate infinite;
      }
    }

    &[data-base="9"] {
      position: relative;
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        right: 1rem;
        top: -1rem;
        border-radius: 3px;
        // transform: rotate(45deg);
        width: 1rem;
        height: 3rem;
        background: fade-out($hash-color, 0.5);
      }
    }

    &[data-base="8"] {
      position: relative;
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        right: 1rem;
        top: -1rem;
        border-radius: 3px;
        // transform: rotate(45deg);
        width: 1rem;
        height: 3rem;
        background: fade-out($rank-color, 0.9);
      }
    }

    &[data-rank="1"] {
      background: $c1st;
      border: none;
      &::after {
        display: none;
      }
      > .Cgpa {
        color: black;
      }
      > .Rank {
        position: relative;
        &::before {
          content: "1";
          position: absolute;
          right: -0.5rem;
          color: #ababab;
          mix-blend-mode: color-burn;
          top: -2.7rem;
          font-size: 5rem;
          font-weight: bold;
          opacity: 0.9;
        }
      }
    }
    &[data-rank="2"] {
      background: $c2nd;
      border: none;
      &::after {
        display: none;
      }
      > .Cgpa {
        color: black;
      }
      > .Rank {
        position: relative;
        &::before {
          content: "2";
          position: absolute;
          right: -0.5rem;
          color: #ababab;
          mix-blend-mode: color-burn;
          top: -2.7rem;
          font-size: 5rem;
          font-weight: bold;
          opacity: 0.9;
        }
      }
    }
    &[data-rank="3"] {
      background: $c3rd;
      border: none;
      &::after {
        display: none;
      }
      > .Cgpa {
        color: black;
      }
      > .Rank {
        position: relative;
        &::before {
          content: "3";
          position: absolute;
          right: -0.5rem;
          color: #ababab;
          mix-blend-mode: color-burn;
          top: -2.7rem;
          font-size: 5rem;
          font-weight: bold;
          opacity: 0.9;
        }
      }
    }
  }
}

.Name {
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  // &:hover{
  //   overflow: visible;
  //   white-space: normal;
  // }
}

.Rank {
  font-size: 2rem;
  color: $rank-color;
  &::first-letter {
    font-size: 1.2rem;
    color: $hash-color;
  }
}
.Rollno,
.Branch,
.Year {
  color: $light-color;
  display: inline-block;
  margin-right: 0.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.Cgpa {
  display: inline-block;
  width: 50px;
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.Sgpa,
.Points {
  display: inline-block;
  position: absolute;
}

.Sgpa {
  bottom: 1.2rem;
  right: 4.7rem;
  opacity: 0;
  font-size: 0.8rem;
  color: $c-hidden;
}
.Points {
  bottom: 1.1rem;
  right: 6.7rem;
  opacity: 0;
  color: $c-hidden;
}

.container > div:hover .Sgpa {
  opacity: 1;
}

.container > div:hover .Points {
  opacity: 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translate(0, 15px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
@keyframes wave {
  0% {
    transform-origin: 0% 70%;
    opacity: 1;
    transform: rotateZ(10deg);
  }
  70% {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}
@keyframes glow {
  0% {
    box-shadow: 0 0 2px 1px #e91e6355;
  }
  100% {
    box-shadow: 0px 0px 10px 5px #e91e6355;
  }
}
@keyframes glow2 {
  0% {
    box-shadow: 0 0 0px 0px fade-out($hash-color, 0.7);
  }
  100% {
    box-shadow: 0 0 10px 3px #d11ee955;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  height: 2rem;
}
.nav > div {
  margin: 0.5rem 2rem;
  cursor: pointer;
  color: $light-color;
  position: relative;

  &:hover {
    color: rgb(224, 18, 156);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #fdef2bbd;
  }
  &:hover::before {
    height: 1rem;
  }
}

#rem {
  font-size: 0.7rem;
  color: $info-color;
}

#you_ip {
  margin: 0 auto;
}

.you {
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 1rem 3rem;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  > div {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // background: #eee;
    > div {
      margin: 0 1rem;
    }
    & > .Cgpa,
    .Sgpa,
    .Points {
      position: static;
      opacity: 1;
    }
  }
}

.footer {
  cursor: default;
  display: flex;
  background: #eee;
  // position: absolute;
  width: 100%;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding: 2rem 0.5rem;
  box-shadow: inset 0 5px 5px #1113;
  margin-top: 2rem;
  color: #333;

  #me {
    margin: 0.2rem;
  }

  & a {
    color: #444;
    text-decoration: none;
    &:hover {
      color: $info-color;
    }
  }
}
#ref {
  font-size: 0.7rem;
  color: $light-color;
}
.heart {
  cursor: grab;
  transition: 0.5s;
  color: red;
  &:hover {
    color: red;
  }
}

@media (max-width: 980px) {
  :root {
    font-size: 14px;
  }
  .container > div {
    height: 8rem;
    width: 13rem;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
    &[data-base="10"],
    &[data-base="9.5"] {
      &::after {
        animation: none;
      }
    }
  }
  .batch-con,
  .branch-con,
  .cs,
  .ranking-con {
    box-shadow: 0 2px 3px 0px #0003;
    transform: translate(0, -5px);
    text-align: center;
    background: #eee;
  }
  .branch-con {
    width: 9rem;
  }
  .ser {
    width: 100%;
    z-index: 2;
  }
  .batch-con {
    width: 10%;
  }
  .cs {
    width: 2rem;
    padding: 1rem 0.3rem;
  }
  select {
    padding: 0.1rem 0.4rem;
  }
  .ctrl {
    padding: 0.5rem;
    height: 7rem;
    width: 90vw;
    margin: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .you {
    & > div > div {
      margin: 0 0.5rem;
    }
  }
  .you {
    .Branch,
    .Year {
      display: none;
    }
    .Name {
      overflow: visible;
      white-space: normal;
    }
  }
  .csv {
    display: none;
  }
}

@media (max-width: 400px) {
  .container > div {
    height: 8rem;
    width: 12rem;
    margin: 0.3rem 0.3rem;
    padding: 0.5rem 0.5rem;
  }
}
@media (max-width: 320px) {
  .container > div {
    height: 7.5rem;
    width: 11rem;
    margin: 0.3rem 0.2rem;
    padding: 0.5rem 0.5rem;
  }
}

@supports not (backdrop-filter: blur(10px)) {
  .popup {
    background: white;
  }
}
