.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  perspective: 400px;
  transform-style: preserve-3d;
  cursor: default;
  height: auto;
  min-height: 30vh;
}
.query {
  color: #888;
  font-size: 0.6em;
  position: absolute;
  font-family: monospace;
  top: 0;
  right: 0;
  padding: 1em;
  cursor: pointer;
  transition: all 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover {
    color: #2196f3;
  }
  &:active {
    transform: scale(0.9);
  }
}
.pagination {
  display: flex;
  padding: 1em 2em;
  justify-content: center;
  align-items: center;

  .page {
    font-family: monospace;
    font-weight: 0.5em;
    color: rgb(0, 153, 255);
  }

  .btn {
    padding: 0 1em;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: rgb(0, 153, 255);
    }
  }
}
.you {
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 1rem 3rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  > div {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // background: #eee;
    > div {
      margin: 0 1rem;
    }
    & > .cgpa,
    .sgpa,
    .points {
      position: static;
      opacity: 1;
    }
  }
}

#res_cnt {
  display: flex;
  width: 100%;
  height: 1em;
  max-width: 500px;
  padding: 1rem 3rem;
  margin: 0rem auto;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  color: #2196f3;
}
