.ctrl {
  height: 4rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem 2rem;

  & > div {
    margin: 0 0.2rem;
  }

  .ser {
    display: inline-flex;
    justify-content: space-around;
    width: 60%;
    box-shadow: 0 3px 5px 0px #0003;
    border-radius: 5px;
    padding: 0.5rem;
    background: #fff;
    position: relative;
    height: 3rem;
    & img {
      width: 1rem;
      transition: all 0.2s;
    }
    &:focus-within img {
      width: 0;
    }
    &:focus-within [type="search"] {
      width: 100%;
    }
  }

  [type="search"] {
    height: 2rem;
    width: 93%;
    display: block;
    // margin: 0 4rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    letter-spacing: 1.1px;
  }

  .branch-con,
  .batch-con,
  .cs,
  .ranking-con {
    display: inline-flex;
    width: 12%;
    height: 3rem;
    text-align: center;
    box-shadow: 0 3px 5px 0px #0003;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    overflow: hidden;
    // color: white;
    &:hover {
      background: fade-out(#2196f3, 0.7);
    }
  }
  .batch-con {
    width: 4rem;
  }

  .cs {
    // background: #f00;
    width: 3rem;
    padding: 1rem 0.7rem;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 1.1px;
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }
  }

  .ranking-con {
    padding: 0.1rem 0.2rem;
  }

  .csv {
    display: flex;
    color: rgb(54, 255, 47);
    padding: 0 0.7rem;
    height: 3rem;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    opacity: 0.05;
  }
  .csv:hover {
    opacity: 0.5;
  }
  .csv:active {
    span:nth-child(1) {
      transform: translate(0, 0.5rem);
    }
  }

  select {
    // display: inline-block;
    width: 100%;
    // margin: 0 1rem;
    padding: 1rem 0.7rem;
    color: inherit;
    font-weight: bold;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1rem;
    letter-spacing: 1.1px;
    background: transparent;
  }
  option {
    color: black;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }

  #ranking {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    padding: 0.7rem 0.4rem;
  }

  ::placeholder {
    opacity: 0.3;
  }

  @media (max-width: 980px) {
    padding: 0.5rem;
    height: 7rem;
    width: 90vw;
    min-width: 360px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: flex-end;

    .batch-con,
    .branch-con,
    .cs,
    .ranking-con {
      box-shadow: 0 2px 3px 0px #0003;
      transform: translate(0, -5px);
      text-align: center;
      background: #eee;
    }
    .branch-con {
      width: 9rem;
    }
    .ser {
      width: 100%;
      z-index: 2;
    }
    .batch-con {
      width: 15%;
    }
    .cs {
      width: 2rem;
      padding: 1rem 0.3rem;
    }
    select {
      padding: 0.1rem 0.4rem;
    }
  }
}
