.header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  color: #231f20;
  font-size: 1.2rem;
  & img {
    width: 3rem;
  }

  & > * {
    font-family: "Source Sans Pro", "Open Sans", "ZCOOL KuaiLe";
  }
  .logo {
    // filter: brightness(1.1) saturate(2);
    margin-right: 0.5em;
  }
  .main-heading {
    display: flex;
    flex-direction: column;
    position: relative;
    .date {
      font-size: 0.5em;
      // min-width: 3.5rem;
      width: fit-content;
      font-weight: bold;
      padding: 0.2rem 0.6rem;
      border-radius: 5px;
      background: #2196f3;
      box-shadow: 0 0 10px 1px #00bcd466;
      color: white;
    }
  }
}
